<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>news</title>

</head>
<body>

<header>
    <h1> НОВОСТИ </h1>
    <h1> {{ news[0].name }} </h1>

</header>
<div class="descript">
    <p> {{ news[1].description }}</p>
</div>
<footer>
    <p>Дата публикации: {{ news[2].date }} </p>
</footer>

</main>

</body>
</html>